body {
  width:90vw;
  height:90vh;
  padding:0;
  margin:0;
  font-family:Skia,Verdana,sans-serif;
  text-align:center;
}

header.span {
  display:table-cell;
}

div#speelveld {
  /*table-layout:fixed;*/
  margin: 0 auto;
}

.row {
  width: auto;
  height: 2.5vw;
  display: block;
  clear: both;
}

.col {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
  /*border: 10px solid #888;*/

  width: 2.5vw;
  height: 2.5vw;
  margin: 0.5vw;
  padding: 2vw;
  outline: 1px solid;
  display: inline-block;
  float: left;
}

table#meta {
  position:fixed;
  right:4vw;
  top:10vw;
  width: 25vw;
  height:70vh;
}
table#meta td {
  vertical-align:top;
  text-align:left;
  padding:1%;
}

@media only screen and (orientation:landscape) {
  div#speelveld {
    width:80vh;
    height:80vh;
    border-spacing:1vh;
  }
}
@media only screen and (orientation:portrait) {
  div#speelveld {
    width:70vw;
    height:70vw;
    border-spacing:1vw;
  }
}

div.inactive {
  background-color:red;
}
div.active {
  background-color:green;
}
div.found{
  background-color:purple;
  cursor:default;
}

button {
  width: 100px
}

#myTime {
position: relative;
width: 200px;
height: 30px;
background-color: #ddd;
}

#timeLeft {
  width: 185px;
  height: 20px;
  background-color: #4CAF50;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    height: 25px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
