body {
  width:90vw;
  height:90vh;
  padding:0;
  margin:0;
  font-family:Skia,Verdana,sans-serif;
  text-align:center;
}

header.span {
  display:table-cell;
}

div#speelveld {
  /*table-layout:fixed;*/
  margin: 0 auto;
}

.row {
  width: auto;
  height: 2.5vw;
  display: block;
  clear: both;
}

.col {
  cursor:pointer;
  text-align:center;
  color:white;
  font-size:large;
  font-weight:bold;
  /*border: 10px solid #888;*/

  width: 2.5vw;
  height: 2.5vw;
  margin: 0.5vw;
  padding: 2vw;
  outline: 1px solid;
  display: inline-block;
  float: left;
}

table#meta {
  position:fixed;
  right:4vw;
  top:10vw;
  width: 25vw;
  height:70vh;
}
table#meta td {
  vertical-align:top;
  text-align:left;
  padding:1%;
}

@media only screen and (orientation:landscape) {
  div#speelveld {
    width:80vh;
    height:80vh;
    border-spacing:1vh;
  }
}
@media only screen and (orientation:portrait) {
  div#speelveld {
    width:70vw;
    height:70vw;
    border-spacing:1vw;
  }
}

div.inactive {
  background-color:red;
}
div.active {
  background-color:green;
}
div.found{
  background-color:purple;
  cursor:default;
}

button {
  width: 100px
}

#myTime {
position: relative;
width: 200px;
height: 30px;
background-color: #ddd;
}

#timeLeft {
  width: 185px;
  height: 20px;
  background-color: #4CAF50;
}
